.Rproj.user
.Rhistory
.RData
.Ruserdata
Analisis_Occu_punto/_RData.gz
Analisis_Occu_punto/_Rhistory
Analisis_Occu_punto/18H_hbase_human_built_up_and_settlement_extent_utm_30m.tif
Analisis_Occu_punto/18J_hbase_human_built_up_and_settlement_extent_utm_30m.tif
Analisis_Occu_punto/19H_hbase_human_built_up_and_settlement_extent_utm_30m.tif
Analisis_Occu_punto/19J_hbase_human_built_up_and_settlement_extent_utm_30m.tif
Analisis_Occu_punto/320041_2019_Agua24Horas_.csv
Analisis_Occu_punto/320041_2019_Agua6Horas_.csv
Analisis_Occu_punto/320041_2019_Humedad_.csv
Analisis_Occu_punto/320041_2019_Temperatura_.csv
Analisis_Occu_punto/320041_2019_Viento_.csv
Analisis_Occu_punto/Alt.rds
Analisis_Occu_punto/AvesInv_porAmb.csv
Analisis_Occu_punto/AvesPrim_porAmb.csv
Analisis_Occu_punto/Borde_costa_masc.rds
Analisis_Occu_punto/borde_costa.dbf
Analisis_Occu_punto/borde_costa.prj
Analisis_Occu_punto/borde_costa.shp
Analisis_Occu_punto/borde_costa.shx
Analisis_Occu_punto/Borde_valpo.dbf
Analisis_Occu_punto/Borde_valpo.prj
Analisis_Occu_punto/Borde_valpo.shp
Analisis_Occu_punto/Borde_valpo.shx
Analisis_Occu_punto/Borde-costa-masc.rds
Analisis_Occu_punto/Buffers.rds
Analisis_Occu_punto/builtup.tif
Analisis_Occu_punto/Capa_build_up.rds
Analisis_Occu_punto/Capa_caminos.rds
Analisis_Occu_punto/Capa_construccion.rds
Analisis_Occu_punto/cov_det3.rds
Analisis_Occu_punto/data_reg6sp.rds
Analisis_Occu_punto/datosHistoricos_320041_2019_Agua24Horas_.csv.zip
Analisis_Occu_punto/datosHistoricos_320041_2019_Agua6Horas_.csv.zip
Analisis_Occu_punto/datosHistoricos_320041_2019_Humedad_.csv.zip
Analisis_Occu_punto/datosHistoricos_320041_2019_Temperatura_.csv.zip
Analisis_Occu_punto/datosHistoricos_320041_2019_Viento_.csv.zip
Analisis_Occu_punto/Dist_marValpo.RDS
Analisis_Occu_punto/DistanceToBuild_up.RDS
Analisis_Occu_punto/DistanceToRiver.RDS
Analisis_Occu_punto/DistanceToRoad.RDS
Analisis_Occu_punto/Distancia_agua.RDS
Analisis_Occu_punto/Distancias.rds
Analisis_Occu_punto/hbase_human_built_up_and_settlement_extent.zip
Analisis_Occu_punto/MOD13Q4N.A2019298.h12v12.006.NRT.hdf
Analisis_Occu_punto/Occdata_det_inv.rds
Analisis_Occu_punto/Occdata_det.rds
Analisis_Occu_punto/Occdata_detInv.rds
Analisis_Occu_punto/Occdata_detPrim.rds
Analisis_Occu_punto/Occdata_ocu.rds
Analisis_Occu_punto/Occdata_reg.rds
Analisis_Occu_punto/Occdata_regInv.rds
Analisis_Occu_punto/Occdata_regPRIM.rds
Analisis_Occu_punto/OccuInv37_final.rds"
Analisis_Occu_punto/OccuPrim37_final.rds
Analisis_Occu_punto/Ocupancia45_avesInv.rds
Analisis_Occu_punto/phantomjs-2.1.1-windows
Analisis_Occu_punto/phantomjs-2.1.1-windows.zip
Analisis_Occu_punto/phantomjs.exe
Analisis_Occu_punto/Pop.RDS
Analisis_Occu_punto/readme.txt
Analisis_Occu_punto/resumen occu.docx
Analisis_Occu_punto/Resumen_ocu_37total_esc.xlsx
Analisis_Occu_punto/Resumen_ocu_37total.xlsx
Analisis_Occu_punto/Resumen_ocuInv_buffer.csv
Analisis_Occu_punto/Rplot.jpeg
Analisis_Occu_punto/scrape_techstars.js
Analisis_Occu_punto/srtm_22_19.hdr
Analisis_Occu_punto/srtm_22_19.tfw
Analisis_Occu_punto/srtm_22_19.tif
Analisis_Occu_punto/techstars.html
Analisis_Occu_punto/ulandsat-gmis-hbase-v1-readme.txt
Analisis_Occu_punto/ulandsat-gmis-v1-hbase-v1-metadata-documentation.zip
Analisis_Occu_punto/wc0.5
DiversidadAves.docx
